name: Generate Phrase Config

on:
  push:
    branches:
      - main  # Or the branch you want to trigger the action
    paths:
      - "instashopper-android/shared/**"
      
jobs:
  generate-config:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Configure git user
        run: |
          git config --global user.name "pFlugo1942"
          git config --global user.email "freddy.lugo@phrase.com"

      - name: Set up script
        run: chmod +x ./scripts/generate_phrase_config_freddy.sh

      - name: Run script (generates and commits config_file)
        run: ./scripts/generate_phrase_config_freddy.sh

      - name: Push changes
        run: |
          git push
